name: DBT Docs Generate and Upload to GCS

on:
  push:
    branches:
      - patch/fix-ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_protected == 'true' && github.sha || github.ref }}-{{ github.event_name }}
  cancel-in-progress: true

env:
  DBT_DEFAULT_PROFILE_TARGET: stellar_dbt_public
  DBT_TARGET: prod
  DBT_DATASET: crypto_stellar
  DBT_PROJECT: crypto-stellar
  DBT_PROFILES_DIR: ${{ github.workspace }}
  DBT_MAX_BYTES_BILLED: 1000000000000
  DBT_JOB_TIMEOUT: 300
  DBT_THREADS: 1
  DBT_JOB_RETRIES: 1

jobs:
  dbt-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Checkout Repository
        uses: actions/checkout@v2

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          project_id: "hubble-261722"
          credentials_json: "${{ secrets.CREDS_PROD_HUBBLE }}"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Generate dbt docs
        run: |
          dbt deps
          dbt docs generate --select "stellar_dbt_public" --exclude "dbt_project_evaluator_exceptions"

      - id: "upload-folder"
        if: github.ref == "refs/heads/master"
        uses: "google-github-actions/upload-cloud-storage@v2"
        with:
          process_gcloudignore: false
          path: "${{ github.workspace }}/target"
          destination: "www.stellar-dbt-docs.com"
          parent: false
          glob: "*.json|*.html"
