name: dbt project evaluator CI

on:
  pull_request:
    branches:
      - master

env:
  DBT_DEFAULT_PROFILE_TARGET: stellar_dbt_public
  DBT_PROFILES_DIR: ${{ github.workspace }}
  DBT_TARGET: test
  DBT_DATASET: test_crypto_stellar_public
  DBT_PROJECT: test-hubble-319619
  DBT_MAX_BYTES_BILLED: 1000000000000
  DBT_JOB_TIMEOUT: 300
  DBT_THREADS: 1
  DBT_JOB_RETRIES: 1

jobs:
  dbt-project-evaluator:
    runs-on: ubuntu-latest
    if: >-
      github.event.pull_request.merged == false &&
      github.event.pull_request.state == 'open'

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up python
        shell: bash
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Authenticate to Test-Hubble
        uses: google-github-actions/auth@b7593ed2efd1c1617e1b0254da33b86225adb2a5 # v2.1.12
        with:
          project_id: test-hubble-319619
          credentials_json: "${{ secrets.CREDS_TEST_HUBBLE }}"

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@cb1e50a9932213ecece00a606661ae9ca44f3397 # v2.2.0

      - name: Run dbt debug
        run: |
          dbt debug

      - name: Run dbt deps
        run: |
          dbt deps

      - name: Run dbt build project evaluator
        run: |
          dbt build --select package:dbt_project_evaluator dbt_project_evaluator_exceptions
